ul {
    list-style-type: none;
  }
nav {
  padding-top: 30px;
  width: 300px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: whitesmoke;
  border-right-style: solid;
  border-color: gray;}

.content{
  position: fixed;
  margin-left:320px;
  margin-top: 40px;
  height: 100%;
  width: 85%;
}

.messages{
  overflow: auto;
  height: 62%;
  width: 90%; 
  word-wrap: break-word
}

.chat_form{
  margin-top: 10%;
  margin-bottom: 0%;
  padding-left: 30px;
  width: 90%; 
}

.channels{
  padding-top: 30px;
}

.message_item{
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-right: 200px;
}

.time{
  font-weight: lighter;
  color: gray;
}

