ul {
    list-style-type: none;
  }

body{
  /* padding-top: 1px; */
  border: 1px solid black;
}

nav {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 15px;
  width: 300px;
  height: 100%;

  background-color: black;
  position: fixed;
  overflow: auto;
  color: whitesmoke;
  border-right-style: solid;
  border-color: gray;
  border-width: 8px;
}

#messages{
  /* padding-top: 10px; */
  margin-top: 40px;
  margin-left:310px;
  margin-right:20px;
  padding-right: 10px;
  height: 70%;
  border-style: solid;
  overflow: auto;
  word-wrap: break-word;
  /* position: fixed; */
}

.chat_form{
  margin-top: 10px;
  margin-left:300px;
  margin-right:20px;
  padding-left:20px;
}

.channels{
  padding-top: 30px;
}

.message_item{
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-right: 200px;
}

.time{
  font-weight: lighter;
  color: gray;
}


.channel:hover{
  color: whitesmoke;
  text-decoration: none;
}

li a.active{
  color: white;
}

body{
  /* display: grid; */
}

html, body{
  height: 100%;
}

/* TOODO:
when a link is clicked it should be bolded in white
when link is clicked the group name banner should appear at the top of the chat
format 'no messages to display' so that it is in the midlde of the chat window and is in gray
send message when user is typing
add the ability to send an attachment 
create a custom dropdown prompt box */