<!DOCTYPE html>

<html>
    <head>
        <title>
            My webpage
        </title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script id="messages_template" type="text/template">
            {% raw -%}
                {{#each messages}}
                    <li class = 'message_item'><b> {{ this.user }} </b> <span class = 'time'> {{ this.time }} </span>  <br> {{ this.text }}  </li>
                {{/each}} 
            {%- endraw %}                
        </script>

        <script id="new_channels" type="text/template">
            {% raw -%}
                {{#each channels}}
                    <li><a href = '#' class = 'channel' data-channel= {{ this }} id = {{ this }}> {{ this }}</a> </li> 
                {{/each}} 
            {%- endraw %}                
        </script>



        <script src="{{ url_for('static', filename='flack2.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <!-- Navigation bar -->
        <nav>
            <b id = 'greeting'></b>
            

            <!-- create a new channel form -->
            <form id = 'create_channel'>
                <div class="input-group mb-3">
                    <input type = 'text' placeholder = 'Create new channel' id = 'new_channel'>
                    <div class = "input-group-append">
                        <input type = 'submit' class="btn btn-secondary btn-sm" id = 'button_channel'>
                    </div>
                </div>
            </form>
            
            <div class = 'channels'>
                <label for channels>Channel names</label>
                <ul id = 'channels'>
                    {% for channel in channels %}
                        <li><a href = '#' class = 'channel' data-channel= {{ channel }} id = {{ channel }}> {{ channel }}</a> </li> 
                    {% endfor %}
                </ul>
            </div>
        </nav>

        
        <!-- messages in a given channel -->
        <ul id = 'messages'>
        </ul>
        

        <!-- send message form  -->
        <div class = 'chat_form'>
            <form id = 'chat_form' action = "/" style = 'visibility: hidden;'>
                <div class="input-group mb-3">
                    <input autofocus type = 'text' placeholder = 'message'  id = 'message' class="form-control" autocomplete="off">
                    <div class="input-group-append">
                        <input type = 'submit' class="btn btn-primary btn-sm" id = 'send'>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>